@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-fixed {
  @apply fixed z-[999] bg-white bg-opacity-40 backdrop-blur-sm dark:bg-slate-500 dark:bg-opacity-50;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-slate-500;
}

.hamburger-active > span:nth-child(1) {
  @apply origin-top-left rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply origin-bottom-left -rotate-45;
}

#hero-section {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -100;
  background-image: url(../src/img/TKJ\ Logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}